<ion-header>

  <ion-navbar>
    <ion-title>Data <small>{{dataManager.authorization.isLogedin ? dataManager.authorization.email : 'Anonymous'}}</small></ion-title>

    <ion-buttons end>         
      <button ion-button color="secondary" (click)="login()" >Login</button>
      <button ion-button color="secondary" (click)="logout()" >Logout</button>
      <button ion-button color="secondary" (click)="refresh()" >Refresh</button>
      <button ion-button color="danger"    (click)="addPlace()" >Place</button>
      <button ion-button color="danger"    (click)="addTravel()" >Travel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

    <div class="item row">

      <div class="col">
        <ion-list>
          <ion-list-header>
            Points {{dataManager.points.size}}
          </ion-list-header>
          <ion-item>
            {{dataManager.currentPosition.fullName}}  
            {{dataManager.currentPosition.countyIncidents  ? dataManager.currentPosition.countyIncidents.length  : undefined}}
            {{dataManager.currentPosition.stateIncidents   ? dataManager.currentPosition.stateIncidents.length   : undefined}}
            {{dataManager.currentPosition.countryIncidents ? dataManager.currentPosition.countryIncidents.length : undefined}}
          </ion-item>
          <ion-item *ngFor="let item of dataManager.points.toArray()">
            <small>{{item.pointType}}</small> 
            {{item.fullName}} 
            {{item.countyIncidents  ? item.countyIncidents.length  : undefined}}
            {{item.stateIncidents   ? item.stateIncidents.length   : undefined}}
            {{item.countryIncidents ? item.countryIncidents.length : undefined}}
            <small>{{item.contextReference}}</small> 
          </ion-item>

        </ion-list>
      </div>

      <div class="col">
        <ion-list>
          <ion-list-header>
            Countries {{dataManager.countries.size}}
          </ion-list-header>
          <ion-item *ngFor="let item of dataManager.countries.toArray()">
            {{item.name}}  - {{item.countryNo}}
          </ion-item>

        </ion-list>
      </div>

      <div class="col">
        <ion-list>
          <ion-list-header>
            Incidents {{dataManager.incidents.size}}
          </ion-list-header>
          <ion-item *ngFor="let item of dataManager.incidents.toArray()">
            {{item.incidentType}}  - {{item.incidentId}}
            <small>{{item.contextReference}}</small> 
          </ion-item>

        </ion-list>
      </div>

    </div>

</ion-content>
