<ion-header>

  <ion-navbar>
    <ion-title (click)="openDisplay()">Data <small></small></ion-title>

    <ion-buttons end>         
      <button ion-button color="secondary" (click)="startup()"    >Startup</button>
      <button ion-button color="secondary" (click)="login()"      >Login</button>
      <button ion-button color="secondary" (click)="logout()"     >Logout</button>
      <button ion-button color="secondary" (click)="refresh()"    >Refresh</button>

      <button ion-button color="danger"    (click)="addPlace()"   >Place</button>
      <button ion-button color="danger"    (click)="addTravel()"  >Travel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

    <div class="item row">

      <div class="col" >
        <h5 padding>Points : {{(points$ | async).count()}}</h5>

        <ion-card>
         <ion-card-header>   
           {{ (user$   | async ).email              }}  
        </ion-card-header>
         <ion-card-content>   
          {{ (user$   | async ).session             }} 
          <hr/>
          {{ (user$   | async ).pointList           }} 
        </ion-card-content>
        </ion-card>

         <ion-card>
          <ion-card-header>
            {{ (position$ | async).fullName }}
          </ion-card-header>
          <ion-card-content>
           {{(position$ | async).contextReference}}
         </ion-card-content>
        </ion-card> 

        <ion-card *ngFor="let item of (points$ | async).toArray()">
         <ion-card-header>
           {{item.fullName}}
         </ion-card-header>
         <ion-card-content>
           <strong>{{item.pointId}}</strong>
           {{item.contextReference}} 
         </ion-card-content>
       </ion-card> 
 
      </div>

      <div class="col">
        <h5 padding>Contexts : {{(contexts$ | async).count()}}</h5>

        <ion-card *ngFor="let item of (contexts$ | async).toArray()">
          <ion-card-header>
            {{item.contextReference}}
          </ion-card-header>
          <ion-card-content>
            {{item.fullName}}
          </ion-card-content>
        </ion-card> 
 
      </div>

      <div class="col">
         <h5 padding>Countries : {{(countries$ | async).count()}}</h5>

         <ion-card *ngFor="let item of (countries$ | async).toArray()">
          <ion-card-header>
            {{item.countryNo}}
          </ion-card-header>
          <ion-card-content>
            {{item.fullName}}
          </ion-card-content>
        </ion-card>  

      </div>

      <div class="col">
        <h5 padding>Incidents : {{(incidents$ | async).count()}}</h5>

        <ion-card *ngFor="let item of (incidents$ | async).toArray()">
        <ion-card-header>
          {{item.incidentId}}
        </ion-card-header>
        <ion-card-content>
          {{item.incidentType}}
        </ion-card-content>
      </ion-card>   

      </div>

    </div>

</ion-content>
