<ion-header>

  <ion-navbar>
    <ion-title>Data <small>{{dataManager.session.isAnonymous ? 'Anonymous' : 'Loged-in'}}</small></ion-title>

    <ion-buttons end>
      <button ion-button color="secondary" (click)="loadCache()" >Cache</button>          
      <button ion-button color="secondary" (click)="loadUser()" >Login</button>
      <button ion-button color="secondary" (click)="loadRevoke()" >Logout</button>
      <button ion-button color="secondary" (click)="loadPosition()" >Position</button>
      <button ion-button color="danger"    (click)="addPlace()" >Place</button>
      <button ion-button color="danger"    (click)="addTravel()" >Travel</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

    <div class="item row">

      <div class="col">
        <ion-list>
          <ion-list-header>
            Points {{dataManager.points.length}}
          </ion-list-header>
          <ion-item *ngFor="let item of dataManager.points">
            {{item.fullName}} <small>{{item.type}}</small>
          </ion-item>

        </ion-list>
      </div>

      <div class="col">
        <ion-list>
          <ion-list-header>
            Countries {{dataManager.countries.length}}
          </ion-list-header>
          <ion-item *ngFor="let item of dataManager.countries">
            {{item.name}}  - {{item.countryNo}}
          </ion-item>

        </ion-list>
      </div>

      <div class="col">
        <ion-list>
          <ion-list-header>
            Incidents {{dataManager.incidents.length}}
          </ion-list-header>
          <ion-item *ngFor="let item of dataManager.incidents">
            {{item.incidentType}}  - {{item.incidentId}}
          </ion-item>

        </ion-list>
      </div>

    </div>

</ion-content>
