<ion-header>
  <ion-toolbar primary>
    <ion-title><span>{{stepDescription}}</span></ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        <ion-icon name="close" hideWhen="ios"></ion-icon>
        <div showWhen="ios">Close</div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 

<ion-content>

  <div *ngIf="showAirportSearch === true">
    <ion-searchbar #airportText (ionInput)="getAirports(airportText.value)" *ngIf="showAirportSearch === true"></ion-searchbar>

    <ion-list >
      <button ion-item *ngFor="let match of matches" (click)="chooseAirport(match)">
        {{ match.fullName }}
      </button> 
    </ion-list>
    
    <div padding *ngIf="showHotelOnlyOption === true">
      <button ion-button full (click)="chooseAccomodationOnly(true)">Accomodation only</button>
    </div>
  </div>

  <div padding *ngIf="showReturnFlight === true">
    <button ion-button full (click)="chooseReturnFlight(true)">Add Return Flight</button>
    &nbsp;
    <button ion-button full (click)="chooseReturnFlight(false)" color="light">No Return Flight</button>
  </div>

  <div *ngIf="showFlightDates === true">
    <ion-list>

      <div>
        <ion-item>
          <ion-label>Flying from {{departureAirport.fullName.split(',')[0]}} on</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="departureDate" max="2020-12-31"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Is It an overnight flight</ion-label>
          <ion-checkbox [(ngModel)]="outboundOvernightFlight"></ion-checkbox>
        </ion-item>
      </div>

      <div *ngIf="hasReturnFlight === true">
        <ion-item>
          <ion-label>Returning from {{arrivalAirport.fullName.split(',')[0]}} on</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="leavingDate" max="2020-12-31"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Is It an overnight flight</ion-label>
          <ion-checkbox [(ngModel)]="ReturnOvernightFlight"></ion-checkbox>
        </ion-item>
      </div>

    </ion-list>

   
    <div padding>
      <button ion-button full  (click)="chooseAccommodation(true)" >Add Accomodation</button> 
      &nbsp;
      <button ion-button full (click)="chooseAccommodation(false)" color="light">No Accomodation</button>
    </div>
  </div>

  <div *ngIf="showPlaceSearch === true">
    <ion-searchbar #placeText (ionInput)="getCities(placeText.value)"></ion-searchbar>

    <ion-list>
      <button ion-item *ngFor="let match of matches" (click)="choosePlace(match)">
        {{ match.fullName }}
      </button>
    </ion-list>

    <div padding *ngIf="showTownsOption === true">
      <button ion-button full (click)="getTowns(placeText.value)">Show Smaller Towns</button>
    </div>
  </div>

  <div *ngIf="showHotelSearch === true">
    <ion-searchbar #hotelText (ionInput)="getHotels(hotelText.value)"></ion-searchbar>

    <ion-list>
      <button ion-item *ngFor="let match of matches" (click)="chooseHotel(match)">
        {{ match.fullName }}
      </button>
    </ion-list>

    <div padding >
      <button ion-button full (click)="getHotels('ALL')">Show all hotels in {{accommodationPlace.fullName.split(',')[0]}}</button>
    </div>
    <div padding >
      <button ion-button full (click)="chooseUnnamedHotel()" color="light">Choose unnamed hotel in {{accommodationPlace.fullName.split(',')[0]}}</button>
    </div>
  </div>

  <div *ngIf="showConfirmation === true">
    <ion-list> 

       <div *ngIf="hasOutboundFlight === true">  
         <ion-item-divider>{{departureAirport.fullName.split(',')[0]}} ▶ {{arrivalAirport.fullName.split(',')[0]}}</ion-item-divider>       
         <ion-item no-lines>
           <ion-label>Departing on</ion-label>
           <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="departureDate" max="2020-12-31"></ion-datetime>
         </ion-item>
         <ion-item no-lines>
           <ion-label>Arriving on</ion-label>
           <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="arrivalDate" max="2020-12-31"></ion-datetime>
         </ion-item>
      </div>  

       <div *ngIf="hasAccommodation === true"> 
        <ion-item-divider>{{accommodationHotel.fullName.split(',')[0]}}</ion-item-divider>  
        <ion-item no-lines>
          <ion-label>Checking in on</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="checkinDate" max="2020-12-31"></ion-datetime>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Checking out on</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="checkoutDate" max="2020-12-31"></ion-datetime>
        </ion-item>  
      </div> 
      
      <div *ngIf="hasReturnFlight === true">  
        <ion-item-divider>{{arrivalAirport.fullName.split(',')[0]}} ▶ {{departureAirport.fullName.split(',')[0]}}</ion-item-divider>   
        <ion-item no-lines>
          <ion-label>Leaving on</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="leavingDate" max="2020-12-31"></ion-datetime>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Returning on</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="returningDate" max="2020-12-31"></ion-datetime>
        </ion-item>   
      </div> 
    </ion-list>

    <div padding>  
      <button padding ion-button full (click)="addPoints()">Add Travel to itinerary</button>
    </div>

  </div>

</ion-content>

 

